# venv
.venv/
venv/

#python cache
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
*.swo

# ds store
.DS_Store